
* {
    /* See CSS box model! */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}   

header {
    display: flex; /* puts everything in the header tag class onto one line. use flexboxes to accomodate varying display sizes */
    /* background: lightblue; */ /* uncomment to see more clearly */
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
    /* background: lightsalmon; */
}

.logo-container, 
.nav-links, 
.cart {
    display: flex;
}

.logo-container {
    /* background: lightblue; */
    flex: 1; /* how much of the screen it should take up relative to the other items*/
}

.logo {
    font-weight: 400;
    margin: 5px;
    width: 87px;
}

nav {
    /* background: lightgreen; */
    flex: 2;
}

.nav-links{
    justify-content: space-around; /* creates even spacing between the links */
    list-style: none; /* removes default HTML list styling */
}

.nav-link{
    color: #5f5f79;
    font-size: 16px;
    text-decoration: none;
}

.cart {
    /* background: lightpink; */
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    /* background: lightpink; */
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    /* background-color: lightblue; */
    flex: 1;
   /* background-color: #5f5f79;*/
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.cta-add {
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 30px 0px 0px 10px;
}

.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #858772;
}

.cover {
    flex: 1;
}

.cover img {
    height: 60vh;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
    /* background-color: aqua */
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.mid-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

.laptop-select {
    /* background-color: tomato; */
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
}

@keyframes drop{
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


@media screen and (max-width: 1024px) {
   .presentation{
       flex-direction: column;
   }
   .introduction
   {   
       margin-top: 5vh;
       text-align: center;
   }
   .intro-text h1 {
       font-size: 30px;
   }

   .intro-text p {
       font-size: 18px;
   }

   .cta {
       padding: 10px 0px 0px 0px ;
   }

   .laptop-select {
       bottom: 5%;
       right: 50%;
       width: 50%;
       transform: translate(50%, 5%);
   }
}