/* Strategy/General Rules for good work

1. Think
    Think about the layout of the webpage or web app before
    writing code

2. Build    
    Build layout in HTML and CSS with a consistent structure
    for naming classes

3. Architect
    Create a logical architeture for your CSS with files and
    folders

*/




/* ------------------------- */
/* THINK */
/* ------------------------- */
/* 
Modular building blocks-
Reusable across a project- build a library

Look into Atomic Design
*/


/* ------------------------- */
/* BUILD */
/* ------------------------- */
/* 

HTML Classes:
BEM- Block Element Modifier- Clean system for marking up our layouts

.block {}

.block__element {}

.block__element--modifier {}

BLOCK: standalone component that can be reused and has 
meaning on its own- like a btn

ELEMENT: part of a block with no meaning on its own

MODIFIER: Flag on a block/element to make a different 
version of that block/element. Such as make a button
round- a more specific, different button


By reading the HTML Markup with this system, you
can easily see how all the elements are related.

*/

/* ------------------------- */
/* Architect */
/* ------------------------- */
/* 
The 7-1 Pattern
7 different folders for partial SASS files
    * base/
    * components/
    * layout/
    * pages/
    * themes/
    * abstracts/
    * vendors/

1 main SASS file to import all other files into a 
compiled CSS stylesheet

*/
