/* Orange #e67e22 */

/* --------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* Elements after a floating element will flow around it. 
Use the "clearfix" hack to fix the problem 
The clearfix is a way to combat the zero-height container 
problem for floated elements 
Float will be cleared after the UL element in meals sect */
.clearfix {
    overflow: auto;
}

/* --------------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------------- */

.row {
    max-width: 1140px;  
    margin: auto;
}

section {
    padding: 80px 0px;
}

.box {
    padding: 1%;
}


/* ----- HEADINGS ----- */
/* set a global size for font, define others relatively
in percentage of the global font size */
/* group similar properties to avoid extra lines of code */
h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 2px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin: 30px;
    letter-spacing: 2px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* put content on a site using only CSS-what appears
after the h2, rather than adding it into the html */
/* creates a "phoney" element */
h2:after {
    content: "";
    display: block;
    height: 2px;
    background-color: orange;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */
/* width: 15% + 70% + 15% */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/* ----- ICONS ----- */
.big-icons{
    font-size: 350%;
    display: block;
    color: #e67e22;
    padding: 20px;
    --ionicon-stroke-width: 17px
}

.small-icons {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 80%;
    margin-right: 10px;

    /* secrets to align text and icons! */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -7px; 
}

/* ----- LINKS ----- */
a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    transition: all 0.2s;
}

a:hover,
a:active {
    color: #555;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited, 
input[type=submit] {
    display: inline-block; /* we need this because an <a> tag element is inline */
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 100px;
    transition: all 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]  {
    background-color: #e67e22;
    border: solid 1px #e67e22;   
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: solid 1px #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #bf6516;
}

.btn-full:hover,
.btn-full:active, {
    border: solid 1px #bf6516;   
}

.btn-ghost:hover,
.btn-ghost:active {
    border: solid 1px #bf6516;   
    color: #fff;
}

/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}


/* main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0px;
    text-decoration: none;
    color: #555555;
}

.sticky .main-nav { margin-top: 20px; }

/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* --------------------------------------------- */
/* FEATURES */
/* --------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}


/* --------------------------------------------- */
/* MEALS */
/* --------------------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
    margin: auto;
    text-align: center;
}

.meals-showcase li {
    display: block;
    width: 25%;
    float: left;
}

/* use overflow: hidden to mask image in the container!  */
.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    z-index: 0;
    transform: scale(1.15);
    transition: all .5s;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/* --------------------------------------------- */
/* HOW IT WORKS */
/* --------------------------------------------- */

.steps-box {
    margin-top: 30px;
}

/* new selector! useful pseudoclass */
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

/* another selector-there are many */
.works-step:last-of-type {
    margin-bottom: 80px;
}

/* making circles on the page, designing in the browser */
.works-step div {
    color: #e67e22; 
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    margin-right: 10px;
}

.section-steps {
    background-color: #f4f4f4;
}

/* --------------------------------------------- */
/* CITIES */
/* --------------------------------------------- */


.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/* --------------------------------------------- */
/* TESTIMONIALS */
/* --------------------------------------------- */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: '\201C';
    display: block;
    font-size: 500%;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* --------------------------------------------- */
/* PLANS */
/* --------------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #e3e3e3;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #efefef;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

/* --------------------------------------------- */
/* FORM */
/* --------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

/* just a new type of selector, below. */
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: solid 1px #ccc;
    background-color: white;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

/* removes blue line that shows up when clicking on form elements */
*:focus {
    outline: none;
}

/* --------------------------------------------- */
/* FOOTER */
/* --------------------------------------------- */

footer {
    background-color: rgb(46, 46, 46);
    font-size: 90%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin: 15px 20px 0px 0px;sa
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links [name="logo-facebook"] {
    transition: color .2s;
}

.social-links [name="logo-instagram"] {
    transition: color .2s;
}

.social-links [name="logo-twitter"] {
    transition: color .2s;
}

.social-links [name="logo-google-playstore"] {
    transition: color .2s;
}

.social-links [name="logo-facebook"]:hover {
    color: #3b5998;
}

.social-links [name="logo-instagram"]:hover {
    color: #c32aa3;
}

.social-links [name="logo-twitter"]:hover {
    color: #1da1f2;
}

.social-links [name="logo-google-playstore"]:hover {
    color: #1d8338;
}

footer p {
    color: #888;
    text-align: center;
    margin: 20px;
    font-size: 80%;
}

/* --------------------------------------------- */
/* Animations */
/* --------------------------------------------- */

.js--wp-1 {
    opacity: 0;
}

/* new selector-has both classes at the same time */
.js--wp-1.animate__animated.animate__fadeIn {
    opacity: 1;
}